@mixin full-view() {
    height: 100vh;
    weight: 100vw;
}

@mixin full-dimensions() {
    height: 100%;
    width: 100%;
}

@mixin flex-centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button() {
    cursor: pointer;
    border: none;
    border-radius: $rounded-border;
}

@mixin nav-item() {
    margin-right: 1%;
    width: 10%;
    font-size: large;
    font-weight: 600;
    background: none;
    color: white;
}

@mixin nav-hover() {
    color:rgba(19, 33, 117, 0.7);
    border-bottom: 5px solid rgba(19, 33, 117, 0.7);
}