@mixin full-view() {
    height: 100vh;
    weight: 100vw;
}

@mixin full-dimensions() {
    height: 100%;
    width: 100%;
}

@mixin flex-centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button() {
    cursor: pointer;
    border: none;
    border-radius: $rounded-border;
}